<!DOCTYPE html>
<html>
<head>
	<title> Balinese </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="../js/script.js" defer></script>
</head>

<body>
	
    <div class="container-admin">
        <h1>Admin Dashboard</h1>
        <div class="admin-features">
            <div class="admin-card">
                <h2>Kelola Tari</h2>
                <p>Input dan kelola data Tari Bali</p>
                <a href="/admin/tari/list">Kelola Data Tari</a> 
            </div>
        </div>
    </div>

</body>